*{
    margin: 0;
    padding: 0;
}
body,p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr);   
    row-gap: 5px;
    column-gap: 5px;
    margin-bottom: 10px;


}

.keyboard-container{
    background-color: blue;
    width: 50vw;
    height: 40vh;
}

.box {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid gray;
    width: min(30px, 13vh);
    height: min(30px, 13vh); 
}